
<div class="youyan">
    <!-- 友言评论框 start -->
    <div id="uyan_frame" style="width: 94%;margin: 0 auto;background: #fff;padding: 14px;"></div>
    <script src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.youyan%>"></script>
</div>
